In [2]:
import numpy as np 
import pandas as pd
df=pd.read_csv('weather_2012.csv')

In [3]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
63,2012-01-03 15:00:00,-14.8,-22.2,53,19,24.1,101.44,Mainly Clear
6524,2012-09-28 20:00:00,13.1,10.1,82,4,25.0,101.34,Mostly Cloudy
6280,2012-09-18 16:00:00,19.4,17.4,88,33,24.1,99.14,Rain
6555,2012-09-30 03:00:00,10.4,9.6,95,17,12.9,100.92,Drizzle
4448,2012-07-04 08:00:00,22.3,18.1,77,17,16.1,100.23,Cloudy

In [6]:
original_columns=df.columns
original_columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [7]:
df=df.rename(columns={'Date/Time': "date_time", 
                   "Temp (C)": "temp_c",
                   'Dew Point Temp (C)':'dew_point', 
                   'Rel Hum (%)':'relative_humidity',
                   'Wind Spd (km/h)':'wind_speed', 
                   'Visibility (km)':'visibility',
                   'Stn Press (kPa)':'pressure',
                   'Weather':'weather'})
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

In [8]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [9]:
df = df.assign(temp_f = lambda x: (9/5)*x['temp_c']+32)
df

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow,32.18
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow,32.36
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow,31.10
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow,31.64
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow,32.00

In [10]:
cols=df.columns.tolist()
cols

['date_time',
 'temp_c',
 'dew_point',
 'relative_humidity',
 'wind_speed',
 'visibility',
 'pressure',
 'weather',
 'temp_f']

In [11]:
cols=['date_time',
 'temp_f',
 'temp_c',
 'dew_point',
 'relative_humidity',
 'wind_speed',
 'visibility',
 'pressure',
 'weather']
df=df[cols]
df

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow

In [12]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

In [13]:
df['date_time'] = pd.to_datetime(df['date_time'])
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

In [14]:
df['weather'].value_counts().head(10)

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

In [19]:
df['month'] = pd.DatetimeIndex(df['date_time']).month
df

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog,1
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog,1
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",1
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",1
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog,1
...,...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow,12
8780,2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow,12
8781,2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow,12
8782,2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow,12
8783,2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow,12

In [20]:
df.to_csv('weather_2012_new.csv')